// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $theme-red;
}

hr.light {
  border-color: white;
}

a {
  color: $theme-red;
  @include transition-all;
  &:focus,
  &:hover {
    color: darken($theme-red, .1);
  }
}

a.alternate-red{
    @include button-variant($theme-white, $theme-red, $theme-red);
}

a.alternate-charcoal{
    @include button-variant($theme-white, $theme-charcoal, $theme-charcoal);
}


h2{
    font-family: 'Mohave';
    font-size: 25px;
    color: $theme-black;
    letter-spacing: 2.4px;
}
h1,
h4,
h5,
h6 {
  @include sans-serif-font;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: $theme-red !important;
}

.bg-dark {
  color: white;
  background-color: $theme-charcoal !important;
}

.text-faded {
  color: $theme-white;
    font-family: "Bariol";
    font-size: 20px;
}

section {
  padding: 50px 0;
}
section.alternate{
    background-color: $theme-white;
    .section-heading{
        color: $theme-black;
    }
    h3{
        color:$theme-black;
    }
    li{
        color:$theme-black;
    }
    li.bold{
        color:$theme-black;
    }
    .price-type{
        color:$theme-black;
        a{
            color: $theme-black;
        }
    }
    .price-cost{
        color:$theme-black;
    }
    p{
        color:$theme-black;
    }
    .price-red{
        color:$theme-red;
    }
}
section.alternate-charcoal{
    background-color: $theme-charcoal;
}

.section-heading {
    font-family: "Mohave Bold";
    font-size: 25px;
    color: $theme-white;
  margin-top: 0;
    letter-spacing: 6px;
    margin-bottom: 30px;
}

::-moz-selection {
  color: white;
  background: $theme-charcoal;
  text-shadow: none;
}

::selection {
  color: white;
  background: $theme-charcoal;
  text-shadow: none;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-charcoal;
}
