.service-item{
    padding: 15px;
    h3{
        color: $theme-white;
        font-family: "Mohave";
        font-size: 20px;
        letter-spacing: 2.8px;
        margin-bottom: 7px;
        text-align: center;
    }
    li{
        color: $theme-white;
        font-family: "Bariol";
        font-size: 18px;
        letter-spacing: 0.34;
    }
    li.bold{
        color: $theme-white;
        font-family: "Bariol Bold";
        font-size: 18px;
        letter-spacing: 0.34;
    }
    ul{
        margin-bottom: 5px;
        padding-left: 20px;
    }
    p{
        color: $theme-white;
        font-family: "Bariol";
        font-size: 18px;
        letter-spacing: 0.34; 
    }
    .price-container{

    }
    .price-type{
        color:$theme-white;
        float: left;
        font-family: "Bariol Bold";
    }
    .price-cost{
        color:$theme-white;
        float: right;
        text-align: right;
        font-family: "Bariol Bold";
        .savings{
            color:$theme-blue;
        }
    }
    @media (max-width: 768px) {
        max-width: 75%;
        margin: auto;
    }
    height: 100%;
}



.service-container{
    
    @media (min-width: 768px) {
        padding-left: 100px;
        padding-right: 100px;
    }
    padding-bottom: 20px;
}

.service-container-2col{
    @media (min-width: 768px) {
        padding-left: 150px;
        padding-right: 150px;
    }
}

