// Variables

// Gray and Brand Colors for use across theme

$theme-red: #B5090A;
$theme-black: #121212;
$theme-charcoal: #262626;
$theme-blue: #7EA3CC;
$theme-white: #FFFFFF;
$theme-baby-blue: #7EA3CC;

