// Variables

// Gray and Brand Colors for use across theme

$theme-red: #B5090A;
$theme-black: #121212;
$theme-charcoal: #262626;
$theme-blue: #255C99;
$theme-white: #FFFFFF;
$theme-baby-blue: #7EA3CC;

@font-face { font-family: Mohave;  src: url('fonts/Mohave.otf'); } 
@font-face { font-family: Mohave; font-weight:semibold; font-style:italic; src: url('fonts/Mohave-SemiBold Italics.otf'); } 
@font-face { font-family: Mohave; font-weight:bold; src: url('fonts/Mohave-Bold.otf'); } 
